// Andrews temp Sass file
.benefits

ul.check
  list-style: none
  li
    padding-left: 20px
    background: url('../images/check.png')
    












/*********************
/* FOOTER STYLES
/*********************



.footer
