// Andrews temp Sass file
.benefits



/*********************
/* TESTIMONIALS
/*********************

.testimonials
  img
    float: left
    width: 180px
    padding: 10px
    background-color: #fff
    border-radius: 90px
    border: 1px solid #dcdcdc
    margin-right: 2rem
    margin-bottom: 1rem


/*********************
/* FOOTER STYLES
/*********************

#inner-footer
  background-color: $blue
  color: #C9C9C9
  padding: 1rem 1rem .35rem

