/************************************************
/*
/* Stylesheet: Main Stylesheet
/*
/*************************************************

/*********************
/* COLORS MIXINS
/*********************

//@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900')

$font-stack:  'Lato', Helvetica, Arial,  sans-serif

$orange: #EF7A23
$lightgray: #FAF8F5
$blue: #016499
$HeadlineColor: #7D7D7D
$bodyColor: #747474


=bluebutton
  background: rgba(1,100,153,0.79)
  font-size: 1.5rem
  color: #FFFFFF
  border: 2px solid rgb(1,100,153)
  border: 2px solid rgba(1,100,153,0.79)
  -webkit-background-clip: padding-box
  /* for Safari */
  background-clip: padding-box
  &:hover
    background: transparent
    border: 2px solid rgb(1,100,153)
    border: 2px solid rgba(1,100,153,0.79)
    -webkit-background-clip: padding-box
    /* for Safari */
    background-clip: padding-box
    color: $blue

=whitebutton
  background: rgba(255,255,255,0.98)
  color: $orange
  font-size: 1.5rem
  border: 2px solid #fff
  &:hover
    background: transparent
    border: 2px solid #fff
    color: #fff

=hollowbutton
  background-color: transparent
  border: 2px solid $orange
  padding: .85rem 1rem
  color: #494949
  &:hover
    background-color: rgba(239, 122, 35, 0.41)
    color: #fff


=cssTransition($secs)
  -webkit-transition: all $secs ease-in-out
  -moz-transition: all $secs ease-in-out
  -o-transition: all $secs ease-in-out
  -ms-transition: all $secs ease-in-out
  transition: all $secs ease-in-out

=arrow($size, $color)
  border-top: $size solid transparent
  border-bottom: $size solid transparent
  border-left: $size solid $color
  display: inline-block
  height: 0
  width: 0

/*********************
/* GENERAL STYLES
/*********************

// Sets REM root size to 16px
html
  font-size: 100%

body
  font-family: $font-stack
  color: $bodyColor

/*********************
/* LINK STYLES
/*********************
a, a:visited
  // Mobile tap color
  &:link
    //Highlight links on iOS, Similar to :hover for mobile devices.
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3)

// Default Button
.button
  +bluebutton
  .arrow
    +arrow(8px, #fff)
  &:hover
    .arrow
      +arrow(8px, $blue)

/*********************
/* H1, H2, H3, H4, H5 P STYLES
/*********************
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5
  font-family: $font-stack
  font-weight: bold
  color: $HeadlineColor

  // Removing text decoration from all headline links
  a
    text-decoration: none

h1, .h1
  line-height: 2.8rem

h2, .h2

h3, .h3

h4, .h4

h5, .h5

p
  line-height: 1.5rem

ul.check
  list-style: none
  margin-left: 0
  li
    padding-left: 35px
    background: url(../images/greencheck.png) no-repeat 0px 2px
    background-size: 27px
    font-weight: bold
    margin-bottom: .25rem

blockquote
  font-size: 1.2rem
  font-weight: 300
  font-style: italic
  margin: 0 0 2rem
  position: relative
  &:after
    content: "\0022"
    position: absolute
    top: -6px
    left: -4px
    font-size: 3rem




/*********************
/* HEADER STYLES
/*********************
.header
  ul.off-canvas-list li
    list-style: none

/*********************
/* NAVIGATION STYLES
/*********************
.top-bar
  .title-area
    z-index: 1

ul#menu-main-menu-1
  margin: 2rem 0 0
  li
    a
      font-size: 1rem
      color: #B4B0A5
      text-transform: uppercase
      white-space: nowrap

ul.submenu
  border: 0
  li
    +cssTransition(.2s)
    &:hover
      background-color: $lightgray
      border-left: 8px solid $orange

ul li.is-dropdown-submenu-parent
  .is-dropdown-submenu
    display: block
    visibility: hidden
    opacity: 0
     +cssTransition(.2s)
  &:hover > .is-dropdown-submenu
    visibility: visible
    opacity: 1

// Drop down arrows
.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after
  border-color: #b4B0A5 transparent transparent

.off-canvas-list
  ul
    margin-left: 0
    li
      a
        border-bottom: 0px

    .dropdown
      margin-left: 20px


/*********************
/* HERO SECTION
/*********************

#hero
  background-size: cover
  background-position: 100%, 0%
  height: 550px
  position: relative
  .heroCTA
    width: 470px
    float: right
    margin: 5rem 200px 0 0
    color: #fff
    h2
      font-family: "Lato", sans-serif
      font-size: 2.25rem
      line-height: 2.75rem
      color: #FFFFFF
      font-weight: 600
      text-transform: capitalize
    p
      font-size: 1.2rem
    .button
      +whitebutton
      .arrow
        +arrow(8px, $orange)
      &:hover
        .arrow
          +arrow (8px, #fff)

.arc
  position: absolute
  left: 0
  bottom: 0

/*********************
/* HOMEPAGE
/*********************
.benefits
  .large-4
    margin-top: 1.2rem
    border: 4px solid #faf8f5
    padding: 0
    h4
      background: #faf8f5
      padding: .5rem 1rem
    p, ul
      margin: .5rem 1rem 1rem


// TESTIMONIALS
.testimonial
  margin: 5rem 0 10rem
  h3, h2
    text-transform: none
    color: $bodyColor
  h3
    font-weight: 400
    font-style: italic
    font-size: 1.5rem
    float: right
    width: 75%
    position: relative
    margin-bottom: 1.5rem
    &:after
      content: "\0022"
      position: absolute
      top: -15px
      left: -25px
      font-size: 3rem
  h2
    font-weight: 400
    font-size: 1.5rem
    span
      font-weight: 600
  img
    float: left
    width: 180px
    padding: 10px
    background-color: #fff
    border-radius: 90px
    margin-right: 2rem
    margin-bottom: 1rem
  .flex-direction-nav a.flex-prev, .flex-direction-nav a.flex-next
      height: 60px
      width: 15px
      text-indent: 1000%
      background-size: cover
  .flex-direction-nav a.flex-prev
    background-image: url('../images/prev-arrow.png')
  .flex-direction-nav a.flex-next
    background-image: url('../images/next-arrow.png')
  .flex-control-paging li a
    background-color: #D8D8D8
    box-shadow: none
  .flex-control-paging li a.flex-active
    background-color: #B4B0A5

// Over rides for Testimonials plugin
.tut-flexslider
  .slides
    padding: 3rem 3rem 2rem
    img
      width: 180px !important
  .flex-direction-nav a::before
    display: none
  .flex-direction-nav a
    top: 50%


// CTA @ BOTTOM
.CTA-home
  text-align: center
  div
    margin-bottom: 2rem
  .button
    +bluebutton
    .arrow
      +arrow(8px, #fff)
    &:hover
      .arrow
        +arrow(8px, $blue)




/*********************
/* POSTS & CONTENT STYLES
/*********************

.header-image
  width: 100%
  height: 500px
  position: relative
  background-size: cover
  padding-top: 2rem

#content
  #inner-content
    padding: 1rem 0rem 0rem

body.page-template-default, body.page-template-no-sidebar-page
  main#main
    margin-top: -325px

h1.page-title
  display: inline-block
  margin-bottom: 2.5rem
  position: relative
  font-size: 2.25rem
  color: #fff
  &:after
    position: absolute
    content: ""
    height: 8px
    width: 33%
    background-color: $orange
    bottom: -19px
    left: 0

.entry-content
  padding: 2.5rem 2.5rem 0
  background-color: #fff
  z-index: 100
  position: relative
  h2
    margin-bottom: 0

.single-title,
.page-title

.single-title

.page-title
  // Remove Foundation vcard styling from author page titles
  .vcard
    border: 0px
    padding: 0px

.archive-title

// Post meta
.byline
  color: #999

  time

// Entry content
.entry-content
  img
    max-width: 100%
    height: auto

  .alignleft, img.alignleft
    margin-right: 1.5em
    display: inline
    float: left

  .alignright, img.alignright
    margin-left: 1.5em
    display: inline
    float: right

  .aligncenter, img.aligncenter
    margin-right: auto
    margin-left: auto
    display: block
    clear: both

  video, object
    max-width: 100%
    height: auto

  pre
    background: #eee
    border: 1px solid #cecece
    padding: 10px

.wp-caption
  max-width: 100%
  background: #eee
  padding: 5px

  // Images inside wp-caption
  img
    max-width: 100%
    margin-bottom: 0
    width: 100%

  p.wp-caption-text
    font-size: 0.85em
    margin: 4px 0 7px
    text-align: center

// Add Foundation styling to password protect button
.post-password-form input[type="submit"]
  +button

/*********************
/* IMAGE GALLERY STYLES
/*********************
.gallery
  dl
    a

    img

  dt

  dd

// Gallery caption styles
.gallery-caption

.size-full

.size-large

.size-medium

.size-thumbnail

/*********************
/* PAGE NAVI STYLES
/*********************
.page-navigation
  margin-top: 1rem

/*********************
/* COMMENT STYLES
/*********************
#comments
  .commentlist
    margin-left: 0px

#respond
  ul
    margin-left: 0px

.commentlist
  li
    position: relative
    clear: both
    overflow: hidden
    list-style-type: none
    margin-bottom: 1.5em
    padding: 0.7335em 10px

    &:last-child
      margin-bottom: 0

    ul.children
      margin: 0

      li

      .comment

      .alt

      .odd

      .even

      .depth-1

      // Change number for different depth
      .byuser

      .bypostauthor

      .comment-author-admin

  li[class*=depth-]
    margin-top: 1.1em

  li.depth-1
    margin-left: 0
    margin-top: 0

  li:not(.depth-1)
    margin-left: 10px
    margin-top: 0
    padding-bottom: 0

  li.depth-2

  li.depth-3

  li.depth-4

  li.depth-5

  // General comment classes
  .alt

  .odd

  .even

  .parent

  .comment

  .children

  .pingback

  .bypostauthor

  .comment-author

  .comment-author-admin

  .thread-alt

  .thread-odd

  .thread-even

  // vcard
  .vcard
    margin-left: 50px

    cite.fn
      font-weight: 700
      font-style: normal

      a.url

    time
      float: right

      a
        color: #999
        text-decoration: none

        &:hover
          text-decoration: underline

    img.photo

    img.avatar
      position: absolute
      left: 10px
      padding: 2px
      border: 1px solid #cecece
      background: #fff

  // end .commentlist .vcard

  // comment meta
  .comment-meta
    a

  .commentmetadata
    a

  // comment content
  .comment_content
    p
      margin: 0.7335em 0 1.5em
      font-size: 1em
      line-height: 1.5em

  // end .commentlist .comment_content

  // comment reply link
  .comment-reply-link
    float: right

    &:hover,
    &:focus

  // end .commentlist .comment-reply-link

// end .commentlist

/*********************
/* COMMENT FORM STYLES
/*********************
.respond-form
  margin: 1.5em 10px
  padding-bottom: 2.2em

  form
    margin: 0.75em 0

    li
      list-style-type: none
      clear: both
      margin-bottom: 0.7335em

      label,
      small
        display: none

    input[type=text],
    input[type=email],
    input[type=url],
    textarea
      padding: 3px 6px
      background: #efefef
      border: 2px solid #cecece
      line-height: 1.5em

      &:focus
        background: #fff

      // form validation
      &:invalid
        outline: none
        border-color: #fbc2c4
        background-color: #f6e7eb
        -webkit-box-shadow: none
        -moz-box-shadow: none
        -ms-box-shadow: none
        box-shadow: none

    input[type=text],
    input[type=email],
    input[type=url]
      max-width: 400px
      min-width: 250px

    textarea
      resize: none
      width: 97.3%
      height: 150px

// comment submit button
#submit

// comment form title
#comment-form-title
  margin: 0 0 1.1em

// cancel comment reply link
#cancel-comment-reply
  a

// logged in comments
.comments-logged-in-as

// allowed tags
#allowed_tags
  margin: 1.5em 10px 0.7335em 0

// No comments
.nocomments
  margin: 0 20px 1.1em

/*********************
/* SIDEBARS & ASIDES
/*********************
.sidebar
  .testimonial
    margin: 0 2rem
    img
      display: block
      margin: 0 auto
      float: none
    h3
      font-size: 1.25rem
      float: none
      margin: 0 auto 0 3rem
      width: 85%
    h2
      width: 70%
      float: right
      margin-top: 1rem
      font-size: 1.25rem

#searchsubmit

.widgettitle

.widget
  ul
    margin: 0

    li
      list-style: none

      &:first-child

      &:last-child

      a

      // deep nesting
      ul

/*********************
/* FOOTER STYLES
/*********************
.footer
  clear: both
  margin-top: 0
  color: #494949
  a
    color: #494949
    &:hover
      color: #c9c9c9
  .copyRight
    float: right
  svg
    margin-bottom: -111px
  .footerTop
    background-color: $lightgray
    padding: 150px 0 20px
    background-image: url('../images/sun-footer.png')
    background-position: 50% 410px
    background-repeat: no-repeat
    background-size: 292px
    #footerwidgets
      h3
        color: #494949
        font-size: 1.5rem
        position: relative
        margin-bottom: 2rem
        &:after
          position: absolute
          content: ""
          height: 8px
          width: 25%
          background-color: $orange
          bottom: -15px
          left: 0
      #sb_instagram .sb_instagram_header h3.sbi_no_bio
        font-weight: 300
        padding-top: 3px !important
        // no uderline for instagram title
        &::after
          display: none
      li
        list-style: none
      a.button
        +hollowbutton
        font-size: 1rem
      a.linkedin
        img
          width: 30px
          margin-right: .5rem
          +cssTransition(.3s)
          &:hover
            opacity: .7
            +cssTransition(.3s)
      #sb_instagram
        margin-top: -20px
        .sbi_load_btn
          display: none !important
        .sbi_follow_btn
          float: right
          margin-right: 10px


  #inner-footer
    background-color: $blue
    color: #C9C9C9
    padding: 1rem 1rem .35rem
    a
      color: #C9C9C9


/*********************
/* FOUNDATION STYLES
/*********************

/*********************
/* PLUGIN STYLES
/*********************
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul
  list-style: none outside none
  margin: 0


/*********************
/* CONTACT FORM 7 STYLES
/*********************

.wpcf7-submit
  +bluebutton
  padding: .65rem 1rem
  cursor: pointer
  +cssTransition(.25s)


/*Styles used for radio buttons*/
span.wpcf7-list-item
  margin: 0

.wpcf7-list-item input
	position: absolute !important
	clip: rect(0, 0, 0, 0)
	height: 1px
	width: 1px
	border: 0
	overflow: hidden

.wpcf7-list-item label span
  display: inline-block
  float: left
  width: 180px
  background-color: #e4e4e4
  color: rgba(0, 0, 0, 0.6)
  font-size: 14px
  font-weight: normal
  text-align: center
  text-shadow: none
  padding: 6px 14px
  border: 1px solid rgba(0, 0, 0, 0.2)
  /*-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1)
  +cssTransition(.1s)

.wpcf7-list-item label:hover
	cursor: pointer

.wpcf7-list-item input:checked + span
  background-color: #D8D8D8
  color: #7d7d7d
  box-shadow: none

.wpcf7-list-item label span
  background-color: transparent
  box-shadow: none
  -webkit-box-shadow: none

// Mail sent OK Notif
div.wpcf7-mail-sent-ok
  border: 2px solid #5ec4c5
  border-radius: 5px
  background-color: #5ec4c5
  color: #fff
  padding: .5rem 1rem


/*********************
/* LEAD GEN PAGE
/*********************

body.page-id-63
  .entry-content
    background-color: #F9F8F4
    padding: 2.5rem
    color: #7d7d7d
  #main
    position: relative
    margin-top: -250px
  #leadGenHeader
    width: 48%
    position: relative
    color: #fff
    margin: 2.5rem auto
    text-shadow: 1px 1px 3px rgba(23, 23, 23, 0.31)
    h1
      color: #fff
      font-weight: 700
      margin-bottom: 2rem
      line-height: 2.8rem
    p
      font-size: 1.35rem
      width: 70%
  header.article-header
    display: none
  .footer
    padding-top: 14rem
    background-image: url('../images/sun-footer.png')
    background-position: 50% 78px
    background-repeat: no-repeat
    background-size: 292px
    .footerArc
      display: none

/*********************
/* BLOG PAGE STYLES
/*********************


body.blog
  main#main
    margin-top: -225px

